.NavBar {
    background: grey;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border: 1px solid black;
    height: 12vh;
    margin: 3px;
    padding: 2vmin;
    color: white;
}

.NavBar-img {
    border: 1px solid black;
    height: 15vmin;
    width: 15vmin;
    background: rgb(241, 238, 238);
    border-radius: 50px;

}


