.NavBar {
    background: #ff6600;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border: 1px solid black;
    height: 5vh;
    margin: 3px;
    padding: 2vmin;
    color: #000;
}

.divGuy {
   margin-top: -10px;
   font-size: 12px;


   

}
